html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Muli', sans-serif;
	background-color: #333333;
	color: #fff;
}

#info {
	position: absolute;
	top: 0px; width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size:13px;
	font-weight: bold;
	text-align:center;
}

a {
	color: #ffffff;
	text-decoration: none;
}

#main {
	position: fixed;
	padding: 20px 50px;
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
	color: white;
}

#time {
	font-size: 40px;
	position: fixed; 
	top: 10px;
	left: 0px;
}

.menu {
	color: white;
	list-style-type: none;
	position: fixed;
	font-size: 40px;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	height: 100px;
	width: 800px;
	z-index: 999;
}

ul {
	list-style-type: none;
}

li {
	float: left;
	padding: 5px 20px 5px 0;
	text-decoration: none;

}

li a {
	display: block;
	text-align: center;
}

a:hover {
	text-shadow: -3px 0 #000000,0 3px #000000, 3px 0 #000000,0 -3px #000000;
}

#core {
	bottom: 365px;
	left: -350px;
	height: 100px;
}

#social {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	font-size: 40px;
	top: 320px;
	right: -300px;
	position: fixed;
	height: 100px;
}

#social-media {
	padding: 0;
}

.social-media-image {
	height: 45px;
}

#address {
	font-size: 40px;
	position: fixed;
	bottom: 10px;
	left: 0px;
}

.soon {
	display: none;
	position: relative;
	color: white;
	font-size: 15px;
	padding: 0;
	margin: 0;
	text-decoration: none;
	text-transform: lowercase;
}

.follow {
	display: none;
	position: relative;
	color: white;
	font-size: 15px;
	padding: 0;
	margin: 0;
	text-decoration: none;
	text-transform: lowercase;
}

#inquery-page {
	background-color:rgba(0, 0, 0, 0.55); 
	color: white; 
	width: 450px; 
	height: 550px; 
	position:fixed; 
	top: 32%; 
	right: -60%;
	font-size: 20px;
	opacity: 0;
	z-index: 995;
	/*border-radius: 120px; */	
	/*border-top-left-radius: 120px;*/
	/*border-bottom-left-radius: 120px;*/
	text-align: center;
}

#exhibitions, #artists, #about {
	cursor: no-drop;
}

#newsletter, #inquery {
	cursor: pointer;
}

#newsletter-page {
	background-color:rgba(0, 0, 0, 0.55); 
	color: white; 
	width: 450px; 
	height: 200px; 
	position:fixed; 
	top: 9%; 
	right: -60%;
	font-size: 20px;
	z-index: 995;
	/*border-radius: 120px;*/
	/*border-top-left-radius: 120px;*/
	/*border-bottom-left-radius: 120px;*/
	text-align: center;
}

form {
	padding: 50px 50px;
	font-family: 'Muli', sans-serif;
}

#inquery-form {
	/*padding: 100px 50px;*/
}

input {
	margin: 10px 0;
	font-family: 'Muli', sans-serif;
}

input[type=text], input[type=email] {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0 30px 0;
    width: 300px;
    height: 30px;
    padding: 0 5px;
    font-size: 20px;
}

input[type=text]:focus {
    border-color:#ccc;
}

input[type=submit], .cancel {
    padding: 5px 15px; 
    background-color: transparent;
    border: 3px solid #FFF;
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin: 5px 0;
}

.cancel {
	margin-left: 15px;
}

textarea {
	font-size: 18px;
	-webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Muli', sans-serif;
}

#message {
	height: 150px;
	width: 300px;
	padding: 5px 5px; 
	margin: 10px 10px 30px 10px;
}

// thank you page
#thank-you {
	font-size: 40px;
}